<br><br>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm w3-center">
            <div class="card"><br>
                <div class="form">
                    <a class="form-btn" href="#" type="button">Click</a> 
                    <div class="searchform hidden-form"> 
                    <input class="form-control" type="text"#userInput placeholder="City Name">
                        <div class="input-group-append" id="fold">
                            <button class="input-group-text btn btn-outline-primary" id="fold_p" (click)="getCity(userInput.value)"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div><br>
                <div class="content" *ngIf="!weather.isNight">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="content" *ngIf="weather.isNight">
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                </div>
                <br>
                <div class="content" style="font-size: 12px;">
                    {{weather.temp_celcius}}°C                        
                </div><br>
                <div class="content" style="font-size: 12px;">
                    {{weather.temp_min}}°C / {{weather.temp_max}}°C
                </div><br>
                <div class="content">
                    {{weather.name}}, {{weather.sys.country}}
                </div><br>
                <div class="content" style="font-size: 12px;">
                    Humidity: {{weather.main.humidity}}%
                </div><br>
            </div>
        </div>

        <div class="col-sm w3-center">
            <div class="card"><br>
                <div class="form">
                    <a class="form-btn1" href="#" type="button">Click</a> 
                    <div class="searchform hidden-form"> 
                    <input class="form-control" type="text" #userInput1 placeholder="City Name">
                        <div class="input-group-append" id="fold1">
                            <button class="input-group-text btn btn-outline-primary" id="fold_p1" (click)="getCity1(userInput1.value)"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div><br>
                <div class="content" *ngIf="!weather1.isNight">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="content" *ngIf="weather1.isNight">
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                </div>
                <br>
                <div class="content" style="font-size: 12px;">
                    {{weather1.temp_celcius}}°C                        
                </div><br>
                <div class="content" style="font-size: 12px;">
                    {{weather1.temp_min}}°C / {{weather1.temp_max}}°C
                </div><br>
                <div class="content">
                    {{weather1.name}}, {{weather1.sys.country}}
                </div><br>
                <div class="content" style="font-size: 12px;">
                    Humidity: {{weather1.main.humidity}}%
                </div><br>              
            </div>
        </div>

        <div class="col-sm w3-center">
            <div class="card"><br>
                <div class="form">
                    <a class="form-btn1" href="#" type="button">Click</a> 
                    <div class="searchform hidden-form"> 
                    <input class="form-control" type="text" #userInput2 placeholder="City Name">
                        <div class="input-group-append" id="fold2">
                            <button class="input-group-text btn btn-outline-primary" id="fold_p2" (click)="getCity2(userInput2.value)"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div><br>
                <div class="content" *ngIf="!weather2.isNight">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="content" *ngIf="weather2.isNight">
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                </div>
                <br>
                <div class="content" style="font-size: 12px;">
                    {{weather2.temp_celcius}}°C                        
                </div><br>
                <div class="content" style="font-size: 12px;">
                    {{weather2.temp_min}}°C / {{weather2.temp_max}}°C
                </div><br>
                <div class="content">
                    {{weather2.name}}, {{weather2.sys.country}}
                </div><br>
                <div class="content" style="font-size: 12px;">
                    Humidity: {{weather2.main.humidity}}%
                </div><br> 
            </div>
        </div>

        <div class="col-sm w3-center">
            <div class="card"><br>
                <div class="form">
                    <a class="form-btn3" href="#" type="button">Click</a> 
                    <div class="searchform hidden-form"> 
                    <input class="form-control" type="text" #userInput3 placeholder="City Name">
                        <div class="input-group-append" id="fold3">
                            <button class="input-group-text btn btn-outline-primary" id="fold_p3" (click)="getCity3(userInput3.value)"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div><br>
                <div class="content" *ngIf="!weather3.isNight">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="content" *ngIf="weather3.isNight">
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                </div>
                <br>
                <div class="content" style="font-size: 12px;">
                    {{weather3.temp_celcius}}°C                        
                </div><br>
                <div class="content" style="font-size: 12px;">
                    {{weather3.temp_min}}°C / {{weather3.temp_max}}°C
                </div><br>
                <div class="content">
                    {{weather3.name}}, {{weather3.sys.country}}
                </div><br>
                <div class="content" style="font-size: 12px;">
                    Humidity: {{weather3.main.humidity}}%
                </div><br>
            </div>
        </div>
        <div class="col-sm w3-center">
            <div class="card"><br>
                <div class="form">
                    <a class="form-btn4" href="#" type="button">Click</a> 
                    <div class="searchform hidden-form"> 
                    <input class="form-control" type="text" #userInput4 placeholder="City Name">
                        <div class="input-group-append" id="fold4">
                            <button class="input-group-text btn btn-outline-primary" id="fold_p4" (click)="getCity4(userInput4.value)"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div><br>
                <div class="content" *ngIf="!weather4.isNight">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="content" *ngIf="weather4.isNight">
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                </div>
                <br>
                <div class="content" style="font-size: 12px;">
                    {{weather4.temp_celcius}}°C                     
                </div><br>
                <div class="content" style="font-size: 12px;">
                    {{weather4.temp_min}}°C / {{weather4.temp_max}}°C
                </div><br>
                <div class="content">
                    {{weather4.name}}, {{weather4.sys.country}}
                </div><br>
                <div class="content" style="font-size: 12px;">
                    Humidity: {{weather4.main.humidity}}%
                </div><br>
            </div>
        </div>
        <div class="col-sm w3-center">
            <div class="card"><br>
                <div class="form">
                    <a class="form-btn5" href="#" type="button">Click</a> 
                    <div class="searchform hidden-form"> 
                    <input class="form-control" type="text" #userInput5 placeholder="City Name">
                        <div class="input-group-append" id="fold5">
                            <button class="input-group-text btn btn-outline-primary" id="fold_p5" (click)="getCity5(userInput5.value)"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div><br>
                <div class="content" *ngIf="!weather5.isNight">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="content" *ngIf="weather5.isNight">
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                </div>
                <br>
                <div class="content" style="font-size: 12px;">
                    {{weather5.temp_celcius}}°C                        
                </div><br>
                <div class="content" style="font-size: 12px;">
                    {{weather5.temp_min}}°C / {{weather5.temp_max}}°C
                </div><br>
                <div class="content">
                    {{weather5.name}}, {{weather5.sys.country}}
                </div><br>
                <div class="content" style="font-size: 12px;">
                    Humidity: {{weather5.main.humidity}}%
                </div><br>
            </div>
        </div>
        <div class="col-sm w3-center">
            <div class="card"><br>
                <div class="form">
                    <a class="form-btn6" href="#" type="button">Click</a> 
                    <div class="searchform hidden-form"> 
                    <input class="form-control" type="text" #userInput6 placeholder="City Name">
                        <div class="input-group-append" id="fold6">
                            <button class="input-group-text btn btn-outline-primary" id="fold_p6" (click)="getCity6(userInput6.value)"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div><br>
                <div class="content" *ngIf="!weather6.isNight">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="content" *ngIf="weather6.isNight">
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                </div>
                <br>
                <div class="content" style="font-size: 12px;">
                    {{weather6.temp_celcius}}°C                        
                </div><br>
                <div class="content" style="font-size: 12px;">
                    {{weather6.temp_min}}°C / {{weather6.temp_max}}°C
                </div><br>
                <div class="content">
                    {{weather6.name}}, {{weather6.sys.country}}
                </div><br>
                <div class="content" style="font-size: 12px;">
                    Humidity: {{weather6.main.humidity}}%
                </div><br>
            </div>
        </div>
        <div class="col-sm w3-center">
            <div class="card"><br>
                <div class="form">
                    <a class="form-btn7" href="#" type="button">Click</a> 
                    <div class="searchform hidden-form"> 
                    <input class="form-control" type="text" #userInput7 placeholder="City Name">
                        <div class="input-group-append" id="fold7">
                            <button class="input-group-text btn btn-outline-primary" id="fold_p7" (click)="getCity7(userInput7.value)"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div><br>
                <div class="content" *ngIf="!weather7.isNight">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="content" *ngIf="weather7.isNight">
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                </div>
                <br>
                <div class="content" style="font-size: 12px;">
                    {{weather7.temp_celcius}}°C                        
                </div><br>
                <div class="content" style="font-size: 12px;">
                    {{weather7.temp_min}}°C / {{weather7.temp_max}}°C
                </div><br>
                <div class="content">
                    {{weather7.name}}, {{weather7.sys.country}}
                </div><br>
                <div class="content" style="font-size: 12px;">
                    Humidity: {{weather7.main.humidity}}%
                </div><br>
            </div>
        </div>
        <div class="col-sm w3-center">
            <div class="card"><br>
                <div class="form">
                    <a class="form-btn8" href="#" type="button">Click</a> 
                    <div class="searchform hidden-form"> 
                    <input class="form-control" type="text" #userInput8 placeholder="City Name">
                        <div class="input-group-append" id="fold8">
                            <button class="input-group-text btn btn-outline-primary" id="fold_p8" (click)="getCity8(userInput8.value)"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div><br>
                <div class="content" *ngIf="!weather8.isNight">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="content" *ngIf="weather8.isNight">
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                </div>
                <br>
                <div class="content" style="font-size: 12px;">
                    {{weather8.temp_celcius}}°C                       
                </div><br>
                <div class="content" style="font-size: 12px;">
                    {{weather8.temp_min}}°C / {{weather8.temp_max}}°C
                </div><br>
                <div class="content">
                    {{weather8.name}}, {{weather8.sys.country}}
                </div><br>
                <div class="content" style="font-size: 12px;">
                    Humidity: {{weather8.main.humidity}}%
                </div><br>
            </div>
        </div>
    </div>
</div>
