<br><br>

    <div class="cards text-center m-3">
        <h3 class="card-header">Countries and Cities</h3>
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="th-sm">Country</th>
                <th class="th-sm">Capital</th>
                <th class="th-sm">Action</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of WeatherData" style="color:black;">
                    <td>{{item.name}}</td>
                    <td>{{item.id}}</td>
                    <td>
                        <a href="#" routerLink="/details" type="button" class="btn btn-info">View Weather</a>
                    </td>
                  </tr>
                  
            </tbody>
        </table>
    </div>